<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2023 by MILOSZ GILGA <https://miloszgilga.pl>
  ~ Silesian University of Technology
  -->
<included>
  <import class="ch.qos.logback.classic.filter.LevelFilter"/>
  <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
  <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
  <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>

  <property name="fileStacktracePattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} > [%-5p] \(%-35.35logger{39}\) : %m%n"/>
  <property name="fileSpecificLogPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} \(%-35.35logger{39}\) : %m%n"/>

  <!-- start of file appenders  -->

  <appender name="appender.file.error" class="RollingFileAppender">
    <filter class="LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${appLogsPath}/error.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${appLogsPath}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>30MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="PatternLayoutEncoder">
      <pattern>${fileSpecificLogPattern}</pattern>
    </encoder>
  </appender>

  <appender name="appender.file.info" class="RollingFileAppender">
    <filter class="LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${appLogsPath}/info.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${appLogsPath}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>30MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="PatternLayoutEncoder">
      <pattern>${fileStacktracePattern}</pattern>
    </encoder>
  </appender>

  <appender name="appender.file.warn" class="RollingFileAppender">
    <filter class="LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${appLogsPath}/warn.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${appLogsPath}/warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>30MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="PatternLayoutEncoder">
      <pattern>${fileStacktracePattern}</pattern>
    </encoder>
  </appender>

  <!-- end of file appenders  -->
</included>
