<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2023 by MILOSZ GILGA <https://miloszgilga.pl>
  ~ Silesian University of Technology
  -->
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="logback/logback-file-appenders.cfg.xml"/>
  <include resource="logback/logback-console-appenders.cfg.xml"/>

  <import class="ch.qos.logback.classic.AsyncAppender"/>

  <property name="appLogsPath" value="logs"/>

  <!-- start of async appenders section -->

  <appender name="async.appender.file.info" class="AsyncAppender">
    <appender-ref ref="appender.file.info"/>
  </appender>
  <appender name="async.appender.file.warn" class="AsyncAppender">
    <appender-ref ref="appender.file.warn"/>
  </appender>
  <appender name="async.appender.file.error" class="AsyncAppender">
    <appender-ref ref="appender.file.error"/>
  </appender>

  <!-- end of async appenders section -->
  <!-- start of applying appenders section  -->

  <root additivity="false">
    <appender-ref ref="async.appender.file.info"/>
    <appender-ref ref="async.appender.file.warn"/>
    <appender-ref ref="async.appender.file.error"/>
    <appender-ref ref="appender.console.major"/>
  </root>

  <!-- end of applying appenders section  -->

</configuration>
